
@font-face {
    font-family: 'Honeywell Sans Web_Book';
    src:     url(https://roviedo.github.com/fonts/HoneywellSansWeb-Book.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Book Italic';
    src:    url(https://roviedo.github.com/fonts/HoneywellSansWeb-BookItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
