@font-face {
    font-family: 'Honeywell Sans Web_Black';
    src:    url(https://honeywellprod.sharepoint.com/:u:/r/sites/DWP-Staging/AmeliiaBotUI/webfonts/HoneywellSansWeb-Black.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Black Italic';
    src:    url(https://honeywellprod.sharepoint.com/:u:/r/sites/DWP-Staging/AmeliiaBotUI/webfonts/HoneywellSansWeb-BlackItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Honeywell Sans Web_Bold';
    src:   url(https://honeywellprod.sharepoint.com/:u:/r/sites/DWP-Staging/AmeliiaBotUI/webfonts/HoneywellSansWeb-Bold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Bold Italic';
    src:    url(https://honeywellprod.sharepoint.com/:u:/r/sites/DWP-Staging/AmeliiaBotUI/webfonts/HoneywellSansWeb-BoldItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Extrabold';
    src:    url(https://honeywellprod.sharepoint.com/:u:/r/sites/DWP-Staging/AmeliiaBotUI/webfonts/HoneywellSansWeb-Extrabold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Extrabold Italic';
    src:    url(https://honeywellprod.sharepoint.com/:u:/r/sites/DWP-Staging/AmeliiaBotUI/webfonts/HoneywellSansWeb-ExtraboldItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Light';
    src:    url(https://honeywellprod.sharepoint.com/:u:/r/sites/DWP-Staging/AmeliiaBotUI/webfonts/HoneywellSansWeb-Light.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Honeywell Sans Web_Light Italic';
    src:    url(https://honeywellprod.sharepoint.com/:u:/r/sites/DWP-Staging/AmeliiaBotUI/webfonts/HoneywellSansWeb-LightItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

